.Classes-img {
    border-radius: 10%;
}

.Classes-img:hover {
    opacity: .80;
}


.changeDisplay {
    display: none;
}

@media (min-width: 992px) {
    .changeDisplay {

        display: block
    }
}