.paragraph {
    font-size: 1.2em;
}

.about {
    line-height: 1.4em;
}


    /* Hide scrollbar for Chrome, Safari and Opera */
/* .Overflow::-webkit-scrollbar {
    display: none;
} */

/* Hide scrollbar for IE, Edge and Firefox */
/* .Overflow {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
} */

