
#navbarNavAltMarkup a:hover {
    
    color:rgb(98, 189,250);
    text-decoration: none;
    
}

#navbarNavAltMarkup a.active {
    color:rgb(98, 189, 250);
    
}

#navbarNavAltMarkup a{
color: rgb(255, 253, 253);
font-size: 1.1em;
}

#brand {
    font-size: 1.5em;
    color:rgb(35, 167, 255);
    font-weight: bold;
}

button {
    color: black;
}

.wrapper {
  position: relative;
}

.carousel {
  background-color: rgba(98, 189, 250);
  height: 50px;
  display: none;
}

.carousel-inner {
  padding-top: 10px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stars {
  display: flex;
  gap: 2px;
}

.text {
  margin-left: 20px;
  display: flex;
  gap: 20px;
}

.text .name {
  font-weight: 500;
}

@media (min-width: 900px) { 
  .carousel {
      display: block;
  }
}


/* .dropdown-menu {
    background-color: #212529;
    border: none;
}

.dropdown-menu a:hover {
    background-color: #212529;
}

.dropdown-item.active {
    background-color: #212529;
} */
