
#navbarNavAltMarkup a:hover {
    
    color:rgb(98, 189,250);
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    
}

#navbarNavAltMarkup a.active {
    font-weight: bold;
    font-size: 1.2em;
    
    color:rgb(98, 189, 250);
    
}

#navbarNavAltMarkup a{
color: rgb(255, 253, 253);
font-size: 1.1em;
}

#brand {
    font-size: 1.5em;
    color:rgb(35, 167, 255);
}

button {
    color: black;
}


/* .dropdown-menu {
    background-color: #212529;
    border: none;
}

.dropdown-menu a:hover {
    background-color: #212529;
}

.dropdown-item.active {
    background-color: #212529;
} */
